.table-responsive9{
    width: 100%;  /* Ajusta al 100% del ancho de la pantalla */
    height: 250px; /* Ajusta la altura del contenedor, puedes cambiarlo */
    overflow-x: hidden; /* Activa el scroll horizontal */
    overflow-y: auto; /* Desactiva el scroll vertical */
    border: none; /* Elimina cualquier borde visible */
}